<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.latabledesgourmands">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaTableDesGourmands">
        <activity android:name=".cuisinier.creerMaTable.creerMaTableStep4"/>
        <activity android:name=".cuisinier.creerMaTable.creerMaTableStep2bis" />
        <activity android:name=".cuisinier.creerMaTable.importMenu" />
        <activity android:name=".cuisinier.creerMaTable.creerMaTableStep3" />
        <activity android:name=".cuisinier.creerMaTable.creerMaTableStep2" />
        <activity android:name=".cuisinier.gérerMesTables.gererMesTables" />
        <activity android:name=".cuisinier.gererMesMenus.gererMesMenus" />
        <activity android:name=".cuisinier.créerMonMenu.creerMonMenu" />
        <activity android:name=".cuisinier.creerMaTable.creerMaTable" />
        <activity android:name=".cuisinier.acceuilCuisinier" />
        <activity android:name=".invite.rechercherUneTable.RechercherTableStep3"/>
        <activity android:name=".invite.rechercherUneTable.RechercherTableStep2"/>
        <activity android:name=".invite.rechercherUneTable.RechercherTableStep1"/>
        <activity android:name=".invite.gererMesTables.GererMesTablesInvite"/>
        <activity android:name=".invite.AccueilInvite"/>
        <activity android:name=".demarrageapplication.ChoixCuisinierInvite"/>
        <activity android:name=".demarrageapplication.AcceuilApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>